* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
}

.nav-links {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}

.nav-right {
    display: flex;
    align-items: center;
}

.search-bar {
    padding: 5px;
    border: none;
    border-radius: 3px;
}

.user-profile img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 15px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    background-color: #f8f8f8;
}

.product {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    text-align: center;
    max-width: 200px;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.5s ease-in-out forwards;
}

.product:nth-child(odd) {
    animation-delay: 0.3s;
}

.product:nth-child(even) {
    animation-delay: 0.5s;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.product img {
    max-width: 100%;
    border-radius: 10px;
}

.product-title {
    font-size: 1.2em;
    margin: 10px 0;
    color: #333;
}

.product p {
    font-size: 1em;
    color: #666;
    margin-bottom: 10px;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

.buttons button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.cart {
    background-color: #28a745;
    color: #fff;
}

.fav {
    background-color: #ff4757;
    color: #fff;
}

.buttons button:hover {
    opacity: 0.8;
}


.about {
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.about h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

.about p {
    font-size: 1em;
    line-height: 1.6;
    color: #666;
    margin-bottom: 20px;
}

.footer {
    margin-top: auto;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-align: center;
}
